* {
    -black: derive(black, 30%);
    -blue: #0085ff;
    -green: #00ba34;
}

.root {
    -fx-background-color: -black;
    -fx-font-family: Arial;
    -fx-padding: 10;
}

HBox, VBox {
    -fx-spacing: 10;
}

.label {
    -fx-font-family: "Arial Black";
}

.text-area, .text-field, .label, .button{
    -fx-text-fill: whitesmoke;
}

.text-area {
    -fx-background-color: -black;
}
.text-area .content {
    -fx-background-color: derive(-black, 30%);
    -fx-background-radius: 0;
}

.text-area:focused {
    -fx-focus-color: whitesmoke;
    -fx-faint-focus-color: whitesmoke;
}

.text-field {
    -fx-background-color: -black;
}
.text-field .content {
    -fx-background-color: derive(-black, 30%);
    -fx-background-radius: 0;
}

.text-field:focused {
    -fx-focus-color: whitesmoke;
    -fx-faint-focus-color: whitesmoke;
}
.scroll-pane {
    -fx-background-color: -black;
}
.scroll-pane > .viewport {
    -fx-background-color: -black;
    -fx-background-radius: 0;
}

.button {
    -fx-background-color: -green;
    -fx-min-width: 40;
    -fx-font-size: 15;
    -fx-font-family: "Arial Black";
    -fx-text-fill: black;
}

#sendButton {
    -fx-min-width: 60;

}

#mediaButton {
    -fx-background-color: -blue;
}

#chat {
    -fx-min-height: 500;

}

#messageBar, .button {
    -fx-max-height: 40;
}
